.d-header {
    max-width: 600px;
    margin: 20px auto 0 auto;
    border-bottom: 2px solid #333;
}
.d-logo {
    font-size: 40px;
    color:#333;
    display: inline-block;
    cursor: pointer;
}
.d-nav {
    display: inline-block;
    margin: 0 0 0 60px;
}
.d-nav a {
    color: #333;
    font-size: 16px;
}
.d-nav a {
    display: inline-block;
}
.d-nav a:nth-of-type(n+2) {
    margin: 0 0 0 30px;
}
.d-nav a:hover {
    cursor: pointer;
}
.d-nav-active {
    text-shadow: 1px 1px 5px #333;
}
