body {
    font-family: "Microsoft YaHei";
    color: #333;
}
body, ul, ol, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style-type: none;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}

.d-markdown h3 {
    margin: 20px 0 0 0;
}

.d-markdown h5 {
    margin: 20px 0 0 0;
}

.d-markdown p {
    margin: 20px 0 0 0;
    line-height: 24px;
    color: #333;
    font-size: 14px;
    text-align: justify;
}

.d-markdown blockquote, .d-markdown blockquote p {
    margin-left: 10px;
    color: #666;
}
.d-markdown blockquote p:before {
    content: '“';
    font-family: 'SimSun';
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    color: #333;
}
.d-markdown blockquote p:after {
    content: '”';
    font-family: 'SimSun';
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    color: #333;
}
.d-markdown em {
    color: #999;
}

.d-markdown a,
.d-markdown a:hover,
.d-markdown a:active,
.d-markdown a:focus {
    color: #007790;
}
.d-markdown a:hover {
    text-decoration: underline;
}

.d-markdown ul {
    list-style-type: decimal;
    margin: 20px 0 0 36px;
    font-size: 14px;
}
.d-markdown ol {
    list-style-type: decimal;
    margin: 20px 0 0 36px;
    font-size: 14px;
}